<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Home Page</title>
<link th:href="@{/UI/style.css}" rel="stylesheet" type="text/css" />



</head>

<body>
<div id="page">
<div id="header">
	<div class="logo"><img th:src="@{/images/logo-tuananh.jpg}" height="40" width="100"/></div>
    <div class="right">
        <div style="float:left; width:600px; padding-top:10px;">
        <div id="formsearch">
        <form>
        <input type="text" name="s" class="inputsearch" />
        <input type="submit" class="search" value="Tìm kiếm"/>
        </form>
        </div>
            <a href="#"><div style="float:left; padding-left:50px"><img th:src="@{/images/giohang.jpg}" /></div></a>
            <a href="#"><div style="float:left; padding-left:10px; padding-top:5px; font-size:12px; font-weight:bold">Giỏ hàng</div></a>
            <a href="#"><div style="float:left;margin-left: 45px; padding-left:10px; padding-top:5px; font-size:12px; font-weight:bold">Đăng Nhập/ Đăng ký</div></a>
        </div>
        
    </div>
<div style="clear:both"></div>
</div>
<div id="menubg">
<link type="text/css" rel="stylesheet" th:href="@{/UI/menu/style.css}">
	<link rel="stylesheet" type="text/css" media="screen" th:href="@{/UI/menu/superfish.css}">
	<script type="text/javascript" th:src="@{/UI/menu/jquery-1.js}"></script>
    <script type="text/javascript" th:src="@{/UI/menu/custom.js}"></script>
    <script type="text/javascript" th:src="@{/UI/menu/superfish.js}"></script>
	<div id="wrap" class="bgheader2">
              <ul class="sf-js-enabled sf-shadow" id="topmenu">
        <li class="active">
        <a th:href="@{/home}" class="sf-with-ul">
            Trang chủ<span class="sf-sub-indicator"> »</span></a>
        </li>
        <li class="">
        <a href="" class="sf-with-ul">
           Loại sản phẩm <span class="sf-sub-indicator"> »</span></a>

            <ul style="display: none; visibility: hidden; left: 166px; width: 931px; background: none repeat scroll 0% 0% rgb(20, 74, 148);" class="sf-menu">
                <th:block th:each="product : ${productTypes}">
                    <li><a th:href="@{/choice-product-type/__${product.id}__ }" target="" class="sf-with-ul">
                        <span th:text="${product.name}"></span>
                        <span class="sf-sub-indicator" > »</span></a>
                        <ul style="display: none; visibility: hidden;">

                        </ul>
                    </li>
                </th:block>
            </ul>

        </li>

        <li class="">
        <a href="" class="sf-with-ul">
            Hãng sản xuất<span class="sf-sub-indicator"> »</span></a>

                    <ul style="display: none; visibility: hidden; left: 166px; width: 931px; background: none repeat scroll 0% 0% rgb(20, 74, 148);" class="sf-menu">
                        <th:block th:each="producer : ${producers}">
                    <li><a th:href="@{/choice-producer/__${producer.id}__ }" target="" class="sf-with-ul">
                        <span th:text="${producer.name}"></span>
                        <span class="sf-sub-indicator" > »</span></a>
                                <ul style="display: none; visibility: hidden;">

                                </ul>
                    </li>
                        </th:block>
                    </ul>

        </li>

        <li class="">

        <a class="sf-with-ul">
            Giá Sản Phẩm<span class="sf-sub-indicator"> »</span>
            <ul style="display: none; visibility: hidden; left: 166px; width: 931px; background: none repeat scroll 0% 0% rgb(20, 74, 148);" class="sf-menu">

                <li><a th:href="@{/cost5}" target="" class="sf-with-ul">
                    Sản phẩm có giá nhỏ hơn 5 triệu<span class="sf-sub-indicator" > »</span></a>
                    <ul style="display: none; visibility: hidden;">

                    </ul>
                </li>

                <li><a th:href="@{/cost10}" target="" class="sf-with-ul">
                    Sản phẩm có giá từ 5 đến 10 triệu<span class="sf-sub-indicator" > »</span></a>
                    <ul style="display: none; visibility: hidden;">

                    </ul>
                </li>

                <li><a th:href="@{/cost15}" target="" class="sf-with-ul">
                    Sản phẩm có giá từ 10 đến 15 triệu<span class="sf-sub-indicator" > »</span></a>
                    <ul style="display: none; visibility: hidden;">

                    </ul>
                </li>

                <li><a th:href="@{/cost20}" target="" class="sf-with-ul">
                    Sản phẩm có giá trên 15 triệu<span class="sf-sub-indicator" ></span></a>
                    <ul style="display: none; visibility: hidden;">

                    </ul>
                </li>
            </ul>

        </a>
        </li>

         <li class="">
            <a th:href="@{/hot-product}">
            <span id="ctl00_MenuHome1_rptMenu_ctl09_lblContact">Sản phẩm Hot</span>

            </a>
        </li>
      </ul>



            <div class="moduletype2">
                <div class="moduletype2_bgheader"></div>
            </div>
    </div>
</div>







<div id="bong"></div>
<div id="boxtop">
	<div id="boxslide">
    <img th:src="@{/images/slide.jpg}" width="715px" height="255px" />
    </div>
    <div id="boxyahoo">
    	<div style="float:left;"><img th:src="@{/UI/images/contact.jpg}" /></div>
        <div style="float:left; padding-left:10px; padding-top:10px; padding-bottom:6px; padding-right:10px; width:750px">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:12px; color:#004e8b">
  <tr height="30px">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Kinh doanh - <strong>04.6682.4458</strong></td>
  </tr>
    <tr height="30px">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Đăng ký chi nhánh - <strong> 04.6682.4458</strong></td>
  </tr>
    <tr height="30px">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Trao đổi trực tiếp - <strong>04.6682.4458</strong></td>
  </tr>
</table>

        </div>
    </div>
    <div style="float:right; padding-top:10px"><img th:src="@{/UI/images/ads54.jpg}" /></div>
</div>
<div id="home">
<div id="boxcategory">
	<div id="title_category">
    	<div class="cate1"><a href=""></a></div>
    </div>
	<div style="margin-top: 45px">
		<th:block th:if="${message}">
			<h2><p th:text="${message}" style="color: red"></p></h2>
		</th:block>
	</div>
    <th:block th:each="product : ${products}">
    <div id="boxproduct" style="border-left:none">
        <a th:href="@{/view-product/__${product.id}__ }"><div class="image"><img th:src="@{/__${product.image}__}" /></div>
    <div class="title"><label th:text="${product.name}"></label></div>
    <div class="price"><label th:text="${product.unitPrice}"></label> VNĐ</div></a>
    </div>
    </th:block>
</div>
<div id="boxcategory">
	<div id="title_category">
    	<div class="cate1"><a th:href="@{/choice-product-type/1}">Tivi</a></div>
    </div>
        <th:block th:each="product : ${productType1}">
            <div id="boxproduct" style="border-left:none">
                <a th:href="@{/view-product/__${product.id}__ }"><div class="image"><img th:src="@{/__${product.image}__}" /></div>
                <div class="title"><label th:text="${product.name}"></label></div>
                    <div class="price"><label th:text="${product.unitPrice}"></label> VNĐ</div></a>
            </div>
        </th:block>
</div>
<div id="boxcategory">
	<div id="title_category">
    	<div class="cate1"><a th:href="@{/choice-product-type/2}">Tủ Lạnh</a></div>
    </div>
    <th:block th:each="product : ${productType2}">
        <div id="boxproduct" style="border-left:none">
            <a th:href="@{/view-product/__${product.id}__ }"><div class="image"><img th:src="@{/__${product.image}__}" /></div>
            <div class="title"><label th:text="${product.name}"></label></div>
                <div class="price"><label th:text="${product.unitPrice}"></label> VNĐ</div></a>
        </div>
    </th:block>
</div>
<div id="boxcategory">
	<div id="title_category">
    	<div class="cate1"><a th:href="@{/choice-product-type/3}">Máy Giặt</a></div>
    </div>
        <th:block th:each="product : ${productType3}">
            <div id="boxproduct" style="border-left:none">
                <a th:href="@{/view-product/__${product.id}__ }"><div class="image"><img th:src="@{/__${product.image}__}" /></div>
                <div class="title"><label th:text="${product.name}"></label></div>
                    <div class="price"><label th:text="${product.unitPrice}"></label> VNĐ</div></a>
            </div>
        </th:block>
</div>
<div id="boxcategory">
	<div id="title_category">
    	<div class="cate1"><a th:href="@{/choice-product-type/4}">Điều Hòa</a></div>
    </div>
    <th:block th:each="product : ${productType4}">
        <div id="boxproduct" style="border-left:none">
            <a th:href="@{/view-product/__${product.id}__ }"><div class="image"><img th:src="@{/__${product.image}__}" /></div>
            <div class="title"><label th:text="${product.name}"></label></div>
                <div class="price"><label th:text="${product.unitPrice}"></label> VNĐ</div></a>
        </div>
    </th:block>
</div>

</div>

<div style="clear:both"></div>
</div>
<div id="ft">
<div style=" margin:auto; width: 1000px">
	<div id="ftnews">
    <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="250px">
        <div class="addr_right">
            <h1>HỆ THỐNG SIÊU THỊ ĐIỆN MÁY TUẤN ANH</h1>
            <div class="addr_left">
                Sắp khai trương:
            </div>
            <p>
                TUẤN ANH - Hưng Hà: Khu Nhân Cầu 1, Thị trấn Hưng Hà, Hưng Hà, Thái Bình <sup>08/1/2019</sup></p>
            <p>
                TUẤN ANH - Thạch Thành: Khu phố 5, TT. Kim Tân, H. Thạch Thành, Thanh Hóa <sup>08/1/2019</sup></p>
            <p>
                TUẤN ANH - Tam Điệp: 294 đường Quang Trung, P.Bắc Sơn, TP.Tam Điệp, Tỉnh Ninh Bình (Cạnh MBBank Tam Điệp) <sup>12/1/2019</sup></p>
            <p>
                TUẤN ANH - Ninh Bình 2: 416 Nguyễn Công Trứ, Phố Thanh Bình, P.Ninh Sơn, TP.Ninh Bình, Tỉnh Ninh Bình <sup>12/1/2019</sup></p>
            <p>
                TUẤN ANH - Cẩm Phả: 170 Trần Phú, P.Cẩm Tây, TP. Cẩm Phả, Quảng Ninh (Tòa nhà Vinacomin Cẩm Phả) <sup>12/1/2019</sup></p>
            <p>
                TUẤN ANH - Hiệp Hòa: Trung tâm thương mại Chợ Hiệp Hòa, TT.Thắng, H.Hiệp Hòa, Bắc Giang <sup>12/1/2019</sup></p>
            <p>
                TUẤN ANH - Quế Võ: Phượng Mao, H.Quế Võ, Tỉnh Bắc Ninh (gần DABACO Quế Võ)<sup>20/1/2019</sup></p>
        </div>
    </td>
  </tr>
</table>

    </div>
    <div id="ftcontent">
    
    <span style="font-size:12px; color:#FFF">
   <b>CÔNG TY TNHH THƯƠNG MẠI VÀ ĐIỆN TỬ TUẤN ANH</b><br />
Add: 58 - Trần Bình - Mai Dịch - Cầu Giấy - Hà Nội<br />
Tel: 0466836838 - 0466835886   Hotline: 0984089666(Mr T) - 0906235323(Mr A)<br />
www.tuananh.vn  -  Email: info@tuananh.vn
</span>
    
    </div>
</div>
<div style="clear:both"></div>
</div>










</body>
</html>
