<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Website Manager</title>

    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/admin/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/admin/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/admin/css/datepicker3.css}">
    <link rel="stylesheet" th:href="@{/admin/css/styles.css}">
    <script th:src="@{/admin/js/respond.min.js}"></script>
    <script th:src="@{/admin/js/html5shiv.min.js}"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span></button>
            <a class="navbar-brand" href="#"><span>Website</span>Manager</a>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <em class="fa fa-envelope"></em>
                </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <div class="dropdown-messages-box"><a href="profile.html" class="pull-left">
                                <img alt="image" class="img-circle" src="http://placehold.it/40/30a5ff/fff">
                            </a>
                                <div class="message-body"><small class="pull-right">3 mins ago</small>
                                    <a href="#"><strong>John Doe</strong> commented on <strong>your photo</strong>.</a>
                                    <br /><small class="text-muted">1:24 pm - 25/03/2015</small></div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box"><a href="profile.html" class="pull-left">
                                <img alt="image" class="img-circle" src="http://placehold.it/40/30a5ff/fff">
                            </a>
                                <div class="message-body"><small class="pull-right">1 hour ago</small>
                                    <a href="#">New message from <strong>Jane Doe</strong>.</a>
                                    <br /><small class="text-muted">12:27 pm - 25/03/2015</small></div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="all-button"><a href="#">
                                <em class="fa fa-inbox"></em> <strong>All Messages</strong>
                            </a></div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <div class="profile-sidebar">
        <div class="profile-userpic">
            <img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
        </div>
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">Admin</div>
            <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="divider"></div>
    <ul class="nav menu">
        <li><a href="/"><em class="fa fa-dashboard">&nbsp;</em>Trang chính</a></li>
        <li><a href="/users"><em class="fa fa-linux">&nbsp;</em> Quản lý thành viên</a></li>
        <li><a href="/products"><em class="fa fa-android">&nbsp;</em> Quản lý sản phẩm</a></li>
        <li><a href="/producers"><em class="fa fa-apple">&nbsp;</em> Quản lý nhà sản xuất</a></li>
        <li class="active"><a href="/bills"><em class="glyphicon glyphicon-list-alt">&nbsp;</em> Quản lý đơn hàng</a></li>
        <li><a th:href="@{/logout}"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
    </ul>
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">
                <em class="fa fa-home"></em>
            </a></li>
            <li class="active"></li>
        </ol>
    </div><!--/.row-->

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h3 class="title">Sửa Hóa Đơn</h3>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped" style="text-align: center">
                                <form th:action="@{/edit-bill}" th:object="${order}" method="post">
                                    <tr>
                                        <td>Mã đơn hàng: </td>
                                        <td><input type="text" th:field="*{id}" hidden>
                                            <input type="text" th:field="*{id}" disabled></td>
                                    </tr>
                                    <tr>
                                        <td>Ngày đặt hàng: </td>
                                        <td><input type="text" th:field="*{dateOrder}" hidden>
                                            <input type="text" th:field="*{dateOrder}" disabled></td>
                                    </tr>
                                    <tr>
                                        <td>Tên khách hàng: </td>
                                        <td><input type="text" th:field="*{customer.id}" hidden>
                                            <input type="text" th:field="*{customer.name}" disabled></td>
                                    </tr>
                                    <tr>
                                        <td>Trạng thái: </td>
                                        <td>
	                                        <select th:field="*{status}" style="width: 28%">
		                                        <option value="Đã xử lý">Đã xử lý</option>
		                                        <option value="Chưa xử lý">Chưa xử lý</option>
		                                        <option value="Đã bị hủy">Đã bị hủy</option>
	                                        </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <table class="table table-hover table-striped" style="text-align: left" id="res">
                                            <thead>
                                            <th>ID</th>
                                            <th>Sản Phẩm</th>
                                            <th>Giá</th>
                                            <th>Số Lượng</th>
                                            <th>KM</th>
                                            <th>Đơn Giá</th>
                                            </thead>
                                            <tbody>
                                            <th:block th:each="item: ${items}">
                                                <tr>
                                                    <td scope="row" th:text="${item.product.id}"></td>
                                                    <td><span th:text="${item.product.name}"></span></td>

                                                    <td th:text="${item.product.unitPrice}"></td>
                                                    <td>
                                                        <span th:text="${item.quantity}" th:value="${item.quantity}"></span>
                                                    </td>
                                                    <td><span th:text="${item.product.promotionPrice}"></span>%</td>

                                                    <td th:text="${item.product.unitPrice * item.quantity - item.product.unitPrice * item.quantity * item.product.promotionPrice / 100}" class="dongia"></td>
                                                </tr>
                                            </th:block>
                                            </tbody>
                                        </table>
                                        <script type="application/javascript">
                                            var sum = 0;
                                            var table = document.getElementById("res");
                                            var ths = table.getElementsByTagName('th');
                                            var tds = table.getElementsByClassName('dongia');
                                            for(var i=0;i<tds.length;i++){
                                                sum += isNaN(tds[i].innerText) ? 0 : parseInt(tds[i].innerText);
                                            }

                                            var row = table.insertRow(table.rows.length);
                                            var cell = row.insertCell(0);
                                            cell.setAttribute('colspan', ths.length);

                                            var totalBalance  = document.createTextNode('Tổng tiền: ' + sum + ' VNĐ');
                                            cell.appendChild(totalBalance);
                                        </script>
                                    </tr>
                                    <tr>
	                                    <td onclick="myFunction()"><input type="submit" value="Save Bill" style="width: 117px; height: 35px; float: left;"></td>
                                        <td></td>
                                    </tr>
                                </form>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	<!--/.main-->

<script>
    function myFunction() {
        alert("Sửa đơn hàng thành công !");
    }
</script>
<script th:src="@{/admin/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{/admin/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/js/chart.min.js}"></script>
<script th:src="@{/admin/js/chart-data.js}"></script>
<script th:src="@{/admin/js/easypiechart.js}"></script>
<script th:src="@{/admin/js/easypiechart-data.js}"></script>
<script th:src="@{/admin/js/bootstrap-datepicker.js}"></script>
<script th:src="@{/admin/js/custom.js}"></script>
<script>
    window.onload = function () {
        var chart1 = document.getElementById("line-chart").getContext("2d");
        window.myLine = new Chart(chart1).Line(lineChartData, {
            responsive: true,
            scaleLineColor: "rgba(0,0,0,.2)",
            scaleGridLineColor: "rgba(0,0,0,.05)",
            scaleFontColor: "#c5c7cc"
        });
    };
</script>

</body>
</html>